:root{
    --preto: rgba(0, 0, 0, 0.85);
    --branco: rgb(216, 216, 216);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*IDs*/
#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    background-color: var(--preto);
}

#icone-modo{
    font-size: 2.5vh;
    color: var(--branco);
    cursor: pointer;
}

/*Classes*/
.menu-botoes{
    width: 512px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; /*semântico, valor padrão*/
    margin-top: 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botao{
    border: 0;
    background-color: transparent;
    border-radius: 50%;
}