:root{
  --cor-primaria: rgba(0, 0, 0, 0.85);
  --cor-secundaria: rgb(216, 216, 216);
}

html, body {
  width: 100%;
  min-height: 100dvh;
  overscroll-behavior-y: contain;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-primaria);
}

* {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--cor-secundaria);
}

h1 {
  font-size: 2.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#game-area {
  position: relative;
  width: 100vmin;
  aspect-ratio: 1 / 1;
  max-width: 512px;
}

#game-canvas {
  width: 100%;
  height: 100%;
}

#pause-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  display: none;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  animation: shimmer 2.5s infinite;
}

#game-over-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 4rem;
  text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
  color: rgb(216, 216, 216);
}

@keyframes shimmer {
  100% {
    mask-position: left
  }
}

#game-info {
  width: 100%;
  display: flex;
}

#game-info li {
  font-size: 1.5rem;
}

#game-scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

#game-scoreboard[data-startup="true"] {
  display: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.start-message {
  width: 100%;
  display: none;
  justify-content: center;
  animation: blinker 2s linear infinite;
  font-size: 1.5rem;
}

@media (pointer: fine) {
  .start-message.desktop[data-startup="true"] {
    display: flex;
  }
}

@media (pointer: coarse) {
  .start-message.mobile[data-startup="true"] {
    display: flex;
  }
}
